/* CSS Document */

/*--------------------------------------------------------*/
/*-----Página---------------------------------------------*/
/*--------------------------------------------------------*/
body {
background: black url("http://localhost:8080/trabajofinal/vista/img/batman.png") center no-repeat; /*color original #333*/
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 12px;
min-width:900px;
line-height: 20px;
color: #222;
}
#wrapper{
	margin: 20px auto 10px auto;
	width: 800px;
	background: #fff;
	padding: 10px;
	border: 5px solid #000;
	/*margin:2%;
	max-height:600px;
	background: #fff;
	height:expression(this.scrollHeight > 600? "600px" : "auto" );
	width:expression(this.scrollHeight > 800? "800px" : "auto" );*/
}
/*--------------------------------------------------------*/
/*-----Header---------------------------------------------*/
/*--------------------------------------------------------*/
#header{
	height: 160px;
	margin: 0 auto;
}
#header img{
}
/*--------------------------------------------------------*/
/*-----Menú Principal-------------------------------------*/
/*--------------------------------------------------------*/
#main_nav{
	height: 40px;
	line-height: 30px;
	font-weight:bold;
	font-size: 12px;
	background: #000;
	list-style-type: none;
	margin: 0 auto; /* si queremos centrarlo */
}
#main_nav ul{
	height:100%;
	list-style-type:none;
	margin:0;
}
#main_nav ul li.lvl1{
	float: left;
	margin: 5px 20px 0 0;
	left:0;
}
#main_nav ul li a{
	text-align:center;
	text-decoration: none;
	color:#FFFFFF;
	display: block;
	position: relative;
	text-decoration: none;
	z-index: 1;
}
#main_nav ul li:hover{
	position: relative;
}
#main_nav ul li a:hover, #main_nav ul li:hover a.lvl1{
	color: gray;
	position: relative;
}
#main_nav ul li a.lvl1{
	display: block !important;
	position: relative;
}
#main_nav ul li ul{
	display:none;
	padding-left:0;
}
#main_nav ul li a:hover ul, #main_nav ul li:hover ul {
	display: block;
	position: absolute;
}
#main_nav ul li ul li a{
	padding: 6px 0 8px;
	width: 162px;
}
#main_nav ul li ul li a:hover {
	position:relative;
}
/*--------------------------------------------------------*/
/*-----Página---------------------------------------------*/
/*--------------------------------------------------------*/
#page{
	width:100%;
	position:relative;
	overflow:auto;
	margin:20px 0 0 0;
}
#content{
	overflow:auto;
	position:relative;
	padding:0 2px 0 2px;
	border-left:1px solid #888888;
}
/*--------------------------------------------------------*/
/*-----Panel de navegación izquierdo----------------------*/
/*--------------------------------------------------------*/
#panelIzq{
	float:left;
	padding:0 15px 0 0;
	margin:0 -1px 0 0;
	border-right:1px solid #888888;
}
#panelIzq h3{
	margin:0 0 5px 0;
}
.subMenuNove,
#subMenuTit{
	list-style-type:none;
	width:180px;
	padding:0 0 0 0;
	margin:0 0 0 0;
}
.titulo{
	padding:5x 0 5px 0;
	margin:0 0 2px 0;
}
.titulo > a{
	display:block;
	padding:2px 0 2px 5px;
	background-color:#888888;
	color:white;
	text-decoration: none;
}
.titulo > a:hover{
	color:black;
	background-color:#AAAAAA;
}
	
.subMenuNove > li{
	margin:5px 0 0 0;
	background-color:#067098;
}
.subMenuNove li:hover{
	background-color:#AAAAAA;
}
.subMenuNove > li > a{
	display:block;
	padding:0 2px 0 2px;
	color:white;
}
.subMenuNove > li > a:hover{
	color:black;
}
.gadgets{
	padding: 0 0 15px 0;
	margin:0 0 25px 0;
	border-bottom:1px solid #888888;
}
	/*--------------------------------------------------------*/
	/*---Último Gadget----------------------------------------*/
	/*-------Modificar el id a medida que se agreguen---------*/
	#gadLogIn{
		border:none;
		padding: 0 0 0 0;
		margin:0 0 0 0;
	}
	/*--------------------------------------------------------*/
	/*-----LogIn-Gadget---------------------------------------*/
	/*--------------------------------------------------------*/
	#formInic{
		width:180px;
		margin:0 0 5px 0;
	}
	#nom{
		heigh:10px;
	}
	.campo{
		float:left;
	}
	.infocampo{
		padding:5px 0 0 0;
	}
	#pass label{
		float:left;
	}
	#datos{
		border:1px solid #888888;
		color:#000000;
	}
	.campoUsu{
		font-weight:bold;
	}
/*--------------------------------------------------------*/
/*-----Pie de página--------------------------------------*/
/*--------------------------------------------------------*/
#footer{
	border-top:1px solid #888888;
	padding:0 0 0 40px;
	margin-top:20px;
	padding-top:20px;
}
#footer img{
	display:block;
	margin:auto;
}