@CHARSET "ISO-8859-1";

@import url(base.css);

/*--------------------------------------------------------*/
/*-----Contenido de la página-----------------------------*/
/*--------------------------------------------------------*/
#inicio{
	position:relative;
	margin:0 auto;
}
p{
	text-align : justify;
}