@CHARSET "ISO-8859-1";

@import url(base.css);
/*---------------------------------------------------------*/
/*Estilo de la página en cuestión*/
/*---------------------------------------------------------*/
#content{
	padding:0 3% 0 3%;
}
.block_user{
	margin: 0 10px 20px 10px;
	padding-top: 5px;
	padding-bottom: 2px;
	overflow: auto;
}
.saludo{
	padding-bottom: 2px;
	list-style-type:none;
	position:relative;
	width:99%;
	display:block;
	float:left;
	border-bottom: 1px solid #067098;
}
.block_user .edit{
	float:left;
	padding-right:5%;
	margin:0 0 0 15px;
	padding:0;
	height:100%;
	list-style-type:none;
}
.block_user .edit li{
	margin: 0 2px 2px 0;
	width: 128px;
	float:left;
}
.block_user .edit li a{
	text-align:center;
	text-decoration: none;
	background-color:#067098;
	margin: 0 2px 2px 0;
	color:#FFFFFF;
	display: block;
	padding: 8px;
	position: relative;
	text-decoration: none;
	z-index: 1;
}
.block_user .edit li:hover{
	position: relative;
}
.block_user .edit li a:hover, .block_user .edit li:hover a{
	background-color:#AAAAAA;
	color: #000000;
	position: relative;
}
.block_user .edit li a{
	display: block !important;
	position: relative;
}