@CHARSET "ISO-8859-1";

@import url(base.css);

/*--------------------------------------------------------*/
/*-----Contenido de la página-----------------------------*/
/*--------------------------------------------------------*/
#inicio{
	position:relative;
	margin:0 auto;
}
#formInic{
	width:180px;
	margin:0 0 5px 0;
}
#nom{
	heigh:10px;
}
.campo{
	float:left;
}
.infocampo{
	padding:5px 0 0 0;
}
#pass label{
	float:left;
}
#datos{
	border:1px solid #888888;
	color:#000000;
}
.campoUsu{
	font-weight:bold;
}
p{
	text-align : justify;
}