@CHARSET "ISO-8859-1";

@import url(base.css);

/*--------------------------------------------------------*/
/*-----Contenido de la página-----------------------------*/
/*--------------------------------------------------------*/
#alta{
	position:relative;
	float:left;
	left:50%;
	margin-left:-11pc;
}
.infoCampo{
	margin-left:25px;
	display:block;
}
#alta fieldset{
	border:1px solid #067098;
}
#envio{
	padding: 5px 0 0 0;
}
.campo{
	margin-left:25px;
	margin-right:25px;
	margin-bottom:10px;
	width:22pc;
}
#desc textarea{
	height: 10pc;
	resize:none;
}
.campoTit{
	color:blue;
	font-weight:bold;
}
#select{
	margin-right:31px;
}
textarea.campo{
	height:40px;
}
#radios{
	margin-left:25px;
}
#mayor{
	margin-left:25px;
}